.projectsBlock {
    height: 100vh;
    background-color: rgb(0, 223, 229);
    display: flex;
    align-items: center;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}