.skillsBlock {
    height: 100vh;
    background-color: rgba(199, 15, 227, 0.7);
    display: flex;
    align-items: center;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}