.project {
    width: 350px;
    background-color: #11a2ff;
    border: 1px solid #285b80;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
}

.openProject {
    width: 100%;
    line-height: 150px;
    background-image: url("https://aptlearn.io/wp-content/uploads/2022/09/project-management-business-process-planning-workflow-organization-colleagues-working-together-teamwork_335657-2469.jpeg");
    background-size: cover ;
    background-position: center;
    background-color: #a8dafa;
}
.openProjectButton{
    display: inline-block;
    vertical-align: middle;
}

.projectInfo {
    padding: 0 15px;
    text-align: start;
}

.description {
    padding-bottom: 20px ;
}


