@import url('https://fonts.googleapis.com/css?family=Livvic');

* {
  box-sizing: border-box;
}

.app {
  margin: 0 auto;
  font-family: 'Livvic', sans-serif;
  font-size: 18px;
  display: flex;
  min-height: 100vh;
  position: relative;
}

.app .leftBorder {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 70px;
  background-color: #fff;
  z-index: 10;
}

.app .rightBorder{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70px;
  background-color: #fff;
  z-index: 10;
}

.main {
  position: absolute;
  top: 70px;
  bottom: 70px;
  left: 70px;
  right: 70px;
  overflow: hidden;
}



@media screen and (max-width: 1600px) {
  .app .leftBorder {
    width: 60px;
  }
  .app .rightBorder {
    width: 60px;
  }
  .main {
    top: 60px;
    bottom: 60px;
    left: 60px;
    right: 60px;
  }
}

@media screen and (max-width: 1040px) {
  .app .leftBorder {
    display: none;
  }
  .app .rightBorder {
    display: none;
  }
}