.menu {
    position: relative;
}

.menu ul {
    margin: 0;
    list-style-type: none;
}

.menu ul li {
    margin: 0;
    float: left;
    text-transform: capitalize;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-family: "Poppins";
    font-weight: 500;
    padding: 0 30px;
    display: inline-block;
    transition: all .3s ease;
}


.menu .links .indicator {
    position: absolute;
    width: 30px;
    display: block;
    top: 15px;
    bottom: 15px;
    background-color: #333;
    z-index: -1;
    transition: all .3s ease-in-out;
}


@media screen and (max-width: 1600px) {
    .menu ul li a {
        padding: 0 22px;
    }
}