.contactsBlock {
    background-color: rgb(244, 255, 138);
    display: flex;
    align-items: center;
}

.contactsContainer {
    flex-direction: column;
    justify-content: space-between;
    min-height: 60%;
}

.contacts {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.formInput {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 300px;
    justify-content: space-around;
}

.contactTextArea{
    height: 60%;
}

.contactInput{
    height: 10%;
}
@media screen and (max-width: 800px) {
    .formInput{
        width: 100%;
    }


}
